/* font */
* {
    font-family: Helvetica, sans-serif;
}

/* body default */
body{
    width: 100%;
    height: 100%;
    max-width: 100vw;
    min-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-grow: 1;
}


/* header style */
header{
    background-color: #808080;
    padding: 1em 1em 1em 1em;
    text-align: center;
    position: absolute;
}

#content{
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: center;
}

li a {
    font-weight: bold;
    font-size: 1.3em;
    text-decoration: none;
    color: black;
}

#content nav li a:active{
    background-color: rgb(104, 104, 14);
}

#content ul {
    list-style-type: none;
}

#content h2 {
    color: rgb(149, 122, 122);
    font-weight: bolder;
    font-size: 30px;
    text-decoration: underline dotted;
}

/* body content */

.detail {
    border-width:1px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    margin-left: 40px;
}
.detail h3{
    text-align: center;
    color: rgb(149, 122, 122);
    font-size: 1.6em;
}

.detail:hover{
    background-color: rgb(255, 208, 208);
}

#attendence, #agenda{
    display: inline-block;
    margin: 50px 10px 50px 200px;
    padding: 10px 50px 50px 50px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    position:static;
}

#diagram{
    grid-column-start: 1;
    grid-column-end: 3;
    margin: auto;
    padding: 10px 50px 50px 50px;
}

div[id="diagram"] h3{
    text-decoration: underline dotted;
}

video,audio{
    display: inline;
    margin: 0px 40px 40px 40px;
}
ul > li{
    color:#575757
}

video ~ audio{
    margin: 100px;
}

img + details{
    text-align: center;
}

div .form{
    position: relative;
}

/*Media Query*/
@media only screen and (max-width: 1000px) {
    header h1 {
      width: 40px;
      height: auto;
      font-size: 10px;
    }
}